@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

// TODO: convert to styled components
$background: #222;
$foreground: #d5d5d5;

body, input {
  background-color: $background;
  color: $foreground;
  font-family: 'Spartan', sans-serif;
}

.grid {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;

  .item {
    display: grid;
  }

  label {
    font-size: .75rem;
  }

  input {
    // width: 100%;
    border: 1px solid $foreground;
    border-radius: 5px;
    padding: .5rem;
  }

  button {
    @extend input;
    transition: all .2s;

    &:hover {
      background-color: $foreground;
      color: $background;
      cursor: pointer;
    }
  }
}

.container {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.game-head {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

td {
  width: 25px;
  height: 25px;
  border: 1px solid $foreground;
  border-radius: 4px;
  color: $foreground;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;

  &.flag {
    color: goldenrod;
  }
  
  &.mine {
    color: darkslategray;
  }

  &.one {
    color: cornflowerblue;
  }

  &.two {
    color: forestgreen;
  }

  &.three {
    color: crimson;
  }

  &.four {
    color: darken(yellow, 10%);
  }

  &.five {
    color: darken(rosybrown, 10%);
  }

  &.six {
    color: darken(cyan, 10%);
  }

  &.seven {
    color: darken(violet, 10%);
  }

  &.eight {
    color: darken(orangered, 8%);
  }
}

